---
import Layout from "../layouts/Layout.astro";
import { Image } from 'astro:assets';
import { Icon } from "astro-icon/components";

import uh from '../assets/emotions/Funa_nerd.png';
---

<Layout title="La Perche - Page non trouvée">
    <div class="hero bg-primary text-primary-content mt-2 md:mt-4 p-2 rounded-box h-full">
        <div class="hero-content flex-col text-center w-full">
            <Image src={uh} alt="Uh oh!" height={128} />
            <h1 class="text-5xl font-bold">Page non trouvée</h1>
            <p class="py-6 text-lg">
                La page que vous recherchez n'existe pas.
            </p>
            <div class="flex flex-col md:flex-row gap-4">
                <button class="btn btn-lg btn-primary" onclick="history.back()">
                    <Icon name="mingcute:arrow-left-fill" class="mr-2" />
                    Revenir en arrière
                </button>
                <a class="btn btn-lg btn-secondary" href="/">
                    <Icon name="mingcute:home-5-fill" class="mr-2" />
                    Retour à l'accueil
                </a>
            </div>
        </div>
    </div>
</Layout>