---
import Layout from "../layouts/Layout.astro";
import { Image } from 'astro:assets';
import { Icon } from "astro-icon/components";

import uh from '../assets/emotions/Funa_nerd.png';

import MultiStepForm from "../components/MultiStepForm.astro";
---

<Layout title="La Perche - Rejoindre notre équipe">
    <div class="hero bg-primary text-primary-content mt-2 md:mt-4 p-2 rounded-box h-full">
        <div class="hero-content flex-col text-center w-full">
            <MultiStepForm />
        </div>
    </div>
</Layout>