---
import { Icon } from "astro-icon/components"
---

<div class="hero bg-secondary text-secondary-content mt-2 md:mt-4 p-2 rounded-box h-full">
  <div class="hero-content flex-col text-center w-full">
      <h2 class="text-4xl font-bold">Une magnifique histoire d'amour</h2>
      <p class="py-6">
        LaPerche, c'est l'histoire d'un petit groupes d'étudiants qui tomberons amoureux du 7em art après l'avoir étudié pendant 3 ans.
        <br />
        Aujourd'hui, cette joyeuse troupe est devenu une association, mais qui porte le même projet : <strong>faire des films fun, ensemble</strong>.
      </p>
    </div>
</div>