---
import { Image } from "astro:assets";
import Navigation from "./Navigation.astro";

import madeInImg from "../assets/madein.png";
---

<div class="drawer flex-1">
  <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col">
   <slot />
  </div>
  <div class="drawer-side h-full">
    <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu bg-base-200 min-h-full w-80 p-4 md:flex text-lg font-[Poppins] font-black">
      <Image class="h-auto w-full mb-6" src={madeInImg} alt="La Perche Logo" height={128}/>
      <Navigation />
    </ul>
  </div>
</div>