---

---

<div class="hero bg-primary text-primary-content mt-2 p-2 rounded-box h-full">
    <div class="hero-content flex-col lg:flex-row-reverse">
        <img
            src="https://img.daisyui.com/images/stock/photo-1635805737707-575885ab0820.webp"
            class="max-w-sm rounded-lg shadow-2xl"
        />
        <div class="max-w-screen md:max-w-2/3">
            <div class="flex flex-col md:flex-row items-center gap-1">
                <h1 class="text-5xl font-bold">Et si on</h1>
                <div class="flex flex-col md:flex-row items-center gap-1">
                    <span
                        class="text-rotate text-5xl font-bold leading-[2] duration-3000"
                    >
                        <span class="justify-items-center">
                            <span class="title text-secondary-content">jouait</span>
                            <span class="title text-error-content">créait</span>
                            <span class="title text-success-content">filmait</span>
                        </span>
                    </span>
                    <h1 class="text-5xl font-bold">ensemble ?</h1>
                </div>
            </div>
            <p class="py-6">
                Provident cupiditate voluptatem et in. Quaerat fugiat ut
                assumenda excepturi exercitationem quasi. In deleniti eaque aut
                repudiandae et a id nisi.
            </p>
            <div class="flex flex-col md:flex-row gap-4">
                <button class="btn btn-primary">Découvrir</button>
                <button class="btn btn-secondary">Nous contacter</button>
            </div>
        </div>
    </div>
</div>
