---

---

<header class="space-y-4">
    <div class="navbar p-0 bg-primary text-primary-content rounded-box">
        <div class="navbar-start">
            <img class="ml-8 h-16 w-auto" src="/laperche.png"/>
        </div>
        <div class="navbar-center hidden lg:flex">
            <ul class="menu menu-horizontal px-1">
                <li><a>Link</a></li>
                <li>
                    <details>
                        <summary>Parent</summary>
                        <ul class="p-2">
                            <li><a>Submenu 1</a></li>
                            <li><a>Submenu 2</a></li>
                        </ul>
                    </details>
                </li>
            </ul>
        </div>
        <div class="navbar-end gap-2">
           
        </div>
    </div>
</header>
